.items {
  color: black;
  margin: 0 auto;
  width: 100%;
}

.textfield {
  width: 100%;
  align-items: center;
  display: flex;
}

.MuiInputLabel-formControl {
  position: relative !important;
}

.input {
  display: grid;
  background-color: #a3f3ff;
  width: 40%;
  border-radius: 10px;
  margin: 0 auto;
}

.admin-submit {
  height: 40px;
  width: 100px;
  background: #5c5c5e;
  color: #fff;
}

.MuiInput-underline:after {
  border: 2px solid #3f51b5;
  height: 30px;
  margin-left: -5px;
  margin-right: -5px;
}

.MuiButton-contained {
  width: 150px;
  margin: 0 auto !important;
  background: #5c5c5e !important;
  color: #fff !important;
  margin: 1px solid black;
}

.MuiButton-contained:hover {
  color: #fff !important;
}
