.steps {
  background-color: #5c5c5e;
  border-radius: 10px;
  padding: 10px;
  color: rgb(13, 11, 49);
  text-align: center;
  margin: 0 auto;
  transition: transform 0.3s;
  width: 50%;
  color: aliceblue;
  border: 2px solid black;
}
.steps:hover {
  transform: scale(1.2);
  transition: all 1s ease;
  background-color: rgb(60, 33, 122);
  border: 2px solid white;
}

.home-img {
  height: 700px;
  width: 800px;
}
