.navbar-main{
  width: 100%;
  margin-left: 10px;
  margin-top: 100px;
}

.navbar {
  position: fixed !important;
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
  z-index: 1;
  transition: top 0.6s;  
  margin: 0 auto;
}

.navbar--hidden {
  top: -50px;
}

.nav-logo {
  text-decoration: none;
  color: white;
}

.nav-links {
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 20px;
  list-style: none;
}

.nav-link {
  text-decoration: none;
  transition: 0.3s all;
}

a.nav-link {
  padding: 0 !important;
}

ul.nav-links {
  display: flex !important;
  align-items: center !important;
  align-content: center !important;
  margin: none !important;
}

.navtextstyle {
  font-family: "CrimsonTextSemiBold";
  font-size: 25px;
  font-weight: 900;
  color: #5c5c5e;
  padding: 5px 10px;
}

.nav-link:hover {
  color: red;
}

.nav-icon {
  display: none;
  font-size: 2rem;
  cursor: pointer;
  color: white;
}

@media only screen and (max-width: 500px) {
  .navbar {
    position: relative;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 80px;
    left: -120%;
    transition: 0.5s all;
    padding: 0 !important;
  }

  .navtextstyle {
    font-family: "CrimsonTextSemiBold";
    font-size: 35px;
    font-weight: 900;
    
  }

  .nav-links.active {
    background-color: #05025f;
    /* opacity: 0.5; */
    left: 0;
    z-index: 1000;
  }

  .nav-item {
    padding: 10px 0;
    border-bottom: 1px solid red;
  }

  .nav-icon {
    display: flex;
  }
}

// .connect {
//   margin: 0px auto;
//   display: block;
//   border-radius: 10px;
//   width: 150px;
//   height: 50px;
//   /* padding: 8px 1px; */
//   justify-content: center;
//   align-items: center;
//   font-family: "CrimsonTextSemiBold";
//   font-size: 25px;
//   background: #8c0000;
//   border-color: rgb(249, 249, 149);
//   border-color: radial-gradient(
//     circle,
//     rgba(249, 249, 149, 1) 0%,
//     rgba(176, 73, 0, 1) 43%
//   );
// }

.connectstyle {
  color: #fff;
}

.connect {
  font-family: "CrimsonTextSemiBold";
  font-size: 25px;
  background: #5c5c5e;
  margin: 0px auto;
  display: block;
  text-align: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  border-radius: 10px;

  position: relative;
  // overflow: hidden;

  // animation: TransitioningBackground 10s ease infinite;

  // transition: 0.6s;

  //   &::before {
  //     content: '';
  //     display: block;
  //     position: absolute;
  //     background: rgba(249, 249, 149, 0.5);
  //     width: 60px;
  //     height: 100%;
  //     top: 0;
  //     filter: blur(30px);
  //     transform: translateX(-100px) skewX(-15deg);
  //   }

  //   &::after {
  //     content: '';
  //     display: block;
  //     position: absolute;
  //     background: rgba(255, 255, 255, 0.2);
  //     width: 30px;
  //     height: 100%;
  //     top: 0;
  //     filter: blur(5px);
  //     transform: translateX(-100px) skewX(-15deg);
  //   }

  //   // grow button and change background gradient on hover
  //   &:hover {
  //     background: #8c0000;
  //     border-color: rgb(249, 249, 149);
  //     cursor: pointer;

  //     // psuedo-elements for right- and left-side shine animations
  //     &::before,
  //     &::after {
  //       animation: shine 2s ease infinite;
  //     }
  //   }
}

// @keyframes shine{
//   0% {
//     transform: translateX(200px) skewX(0deg);
//     transition: 0.7s;
//   }

//   50% {
//     transform: translateX(-50px) skewX(-15deg);
//     transition: 0.7s;
//   }
//   100% {
//     transform: translateX(200px) skewX(0deg);
//     transition: 0.7s;
//   }
// }

